html{
    /*height: 100%;*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* Ha kvar */

body{
    background-color: rgba(75, 73, 73, 0.938);
    background-color: #DDE6ED;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo{
    text-decoration: none;
    font-size: 24px;
    color: white;
}


@media screen and (max-width:650px){
    body{
        background-color: rgba(0, 0, 255, 0.205);
    }
    .banner{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
}


/*.banner{
    display: flex;
    background-color: #27374D;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px 5%;
    box-shadow: 0px 3px 5px rgba(97, 96, 96, 0.678);
    position: sticky;
    top: 0;
}

.navbarItem{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-right: 15px;
    margin: 12px 25px 12px 30px;
}*/


.navbarItem:hover{
    text-decoration-thickness: 0.2px;
    text-decoration-color: rgba(255, 255, 255, 0.411);
    text-underline-offset: 3px;
    transform: scale(1.05);
    transition-duration: 0.3s;
    text-decoration: underline;
}

.navbarItem:not(:hover){
    transition: 0.3s;
}


/* test */
.banner{
    display: flex;
    background-color: #27374D;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px 5%;
    box-shadow: 0px 3px 5px rgba(97, 96, 96, 0.678);
    position: sticky;
    top: 0;
}

.navbarItem{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-right: 15px;
    margin: 12px 25px 12px 30px;
}

.footer{    
    /*height: 75px;  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;*/

    position: sticky;
    top: 100%;
    background-color: #9DB2BF;
    box-shadow: 0px -2px 5px rgba(112, 111, 111, 0.315);
    display: flex;
    justify-content: center; 
}

.footerList{
    /*list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;*/
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    
}

.footerList li{
    display: flex;
    align-items: center;
}

.footerImage{
    width: 38px;
}

.footer ul li a{
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 16px;
    color:black;
    
}

.footer ul li p{
    font-size: 16px;
    color:black;
}


/**/


/*  Footer  */
/*.footer{
    position: sticky;
    top: 100%;
    background-color: #9DB2BF;
    height: 75px;
    box-shadow: 0px -2px 5px rgba(112, 111, 111, 0.315);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerList{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerImage{
    width: 38px;
}

.footer ul li a{
    margin-right: 12px;
    margin-left: 12px;
    font-size: 16px;
    color:black;
    
}*/

.footer ul li a:hover
{
    color: rgba(255, 255, 255, 0.671);
}

/*.footer ul li p{
    margin: 15px;
    font-size: 16px;
    color:black;
}*/

.footerImage:Hover{
    transform: scale(1.15);
    transition: 0.3s;

}

.footerImage:not(:Hover){
    transform: scale(1);
    transition: 0.3s;
}


/*  Index page content  */
/*.main ul{
    list-style: none;
    display: flex;
    justify-content: center;
 
}

.mainul li{
    margin: 20px;
}*/
.main{
    display: flex;
    align-items:  top;
    height: 100%;
    /*margin: 40px 15px 15px 15px;*/
}


.portraitContainer h1{
    font-size: 28px;
    margin: 10px
}

.portraitContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin: 40px 50px 20px 20px;*/
    width: 50%;
}

.portrait{
    background-image: url("Photo.jpg");
    background-size: cover;
    width: 450px;
    height: 450px;
    border: 2px;
    border-color: #27374d8a;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(48, 48, 49, 0.336);
    margin-top: 15px;
    font-size: 50px;
}

.mainText{
    /*margin: 200px 20px 20px 50px;*/
    margin-top: 200px;
    width: 50%;
    height: 100%;
}

.sidebar{
    width: 20%;
    background-color: #27374d15;
}